<div class="flexboxs">
    <header class="header">
      <img class="" src="/assets/images/retaily.png" />
      <!-- <p-button class="p-button-raised p-button-rounded" label="Rastrear envío" icon="pi pi-search"></p-button> -->
      <div>
        <button pButton _ngcontent-hsr-c94="" pbutton="" pripple="" type="button" label="Rastrear envío" icon="pi pi-search" class="p-element p-ripple p-button-rounded p-button-warning p-button p-component"></button>
      </div>
  </header>
  <body>
    <h1 class="textinitial">Qué bueno <br> verte por acá!</h1>
    <div>
      <button pButton class=" p-button-raised p-button-rounded" icon="pi pi-arrow-right" iconPos="right"  label="Ingresar a mi cuenta"></button>
      <h2 class="register">No eres miembro ? <a class="register-link" href="registrarse">Registrate</a></h2>
    </div>
  </body>
  <footer>
    Retaily ® 2022
  </footer>
  </div>
  